
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Poppins:wght@100;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background: rgba(170, 107, 92, 0.863);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.main-section {
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
    opacity: 0.9;
    width: 100vw;
    max-width: 1024px;
    min-height: 200vh;
}

#bg{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.nav-bar {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.logo {
    width: 9rem;
    margin: 2rem;
}

.img-opt {
    border-radius: 1rem;
    max-width: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.photo-container {
    margin: 2rem auto;
    width: 80%;
    height: 50%;
    max-height: 500px;
    display: grid;
    grid-template-rows: repeat(12, 20px [row-start]);
    grid-template-columns: repeat(5, 1fr [col-start]);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.one {
    grid-column-start: col-start 1;
    grid-column-end: col-start 2;
    grid-row-start: row-start 11;
    grid-row-end: row-start 12;
}


.three{
    grid-column-start: col-start 2;
    grid-column-end: col-start 3;
    grid-row-start: row-start 4;
    grid-row-end: row-start 5;
}

.eight{
    grid-column-start: col-start 1;
    grid-column-end: col-start 2;
    grid-row-start: row-start 6;
    grid-row-end: row-start 7;
}

.seven{

    grid-column-start: col-start 3;
    grid-column-end: col-start 4;
    grid-row-start: row-start 6;
    grid-row-end: row-start 7;
}
.six{
    grid-column-start: col-start 1;
    grid-column-end: col-start 2;
    grid-row-start: row-start 1;
    grid-row-end: row-start 2;
}

.four{
    grid-column-start: col-start 3;
    grid-column-end: col-start 4;
    grid-row-start: row-start 1;
    grid-row-end: row-start 2;
}

.five{
    grid-column-start: col-start 0;
    grid-column-end: col-start 1;
    grid-row-start: row-start 4;
    grid-row-end: row-start 5;
}

.title-section{
    margin: 5rem auto;
    margin-top: 10rem;
    padding: 1rem;
    width: 80%;
    height: 20%;
    max-height: 50px;
}

.title-section > h1{
    font-weight: 900;
}

.title-section > h3{
    font-weight: 500;
    line-height: 30px;
    max-width: 800px;
}

.card-image{
    width: 100%;
    border-radius: 1rem;
}

.stars{
    display: flex;
    align-items: center;
}
.star-image{
    margin-right: 0.2rem;
    width: 15px;
}

.grey{
    color:#918E9B;
}
.bold{
    font-weight: 900;
}

.card{
    position: relative;
    width: 200px;
    min-width: 200px;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sold{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.card-description{
    font-size: 0.8rem;
    max-width: 200px;
}

.card-wrap{
    margin: 5rem auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 700px){
    .card-wrap{
        flex-flow: column;
    }   
}